<html>
    	<head>
                <meta http-equiv="content-type" content="text/html; charset=UTF-8">
                <meta charset="utf-8">
                <title>Storystrap Template</title>
                <meta name="generator" content="Bootply" />
                <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
                <link href="css/bootstrap.min.css" rel="stylesheet">
                <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
             
            </head>
    <body>
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">ARE YOU READY FOR INSURANE!!! </h1>
        <p class="lead">Your breakdown is below</p>
        <hr class="my-2">
           <h2>{{name}}</h2>
           <h3>Anaual Salary: {{salary}}</h3>
           <h3>Anaual Deductions: {{deductions}}</h3>
           <h3>Anaual Salary after deductiond: {{salaryAfterDeductions}}</h3>
           <h2>Weekly Pay Break down</h2>
           <h3>Weekly Salary: {{weeklyPay}}</h3>
           <h4>Weekly Deductions: {{weeklyDeductions}}</h4>
           <h2>Weekly Pay after deductions: {{weeklyPayAfterDeductions}}</h2>
            <a class="btn btn-primary btn-lg" href="/" role="button">Resart</a>
        </p>
    </div>
</div>
</body>
</html>